@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}

input {
    outline: none;
    border: none;
}

::-webkit-scrollbar {
    display: none;
}
